In [1]:
import pandas as pd

In [10]:
df=pd.read_csv("udemy_courses (1).csv")

In [11]:
df.head(1)

   course_id  ...           subject
0    1070968  ...  Business Finance

[1 rows x 12 columns]

Which free courses have the highest number of subscribers and reviews?

In [86]:
df[df['is_paid']== False][['num_subscribers','num_reviews']].max()

num_subscribers    268923
num_reviews          8629
dtype: int64

In [ ]:
select MAX(num_subscribers),MAX(num_reviews) from udemy_courses where is_paid = 'False'

What are the most popular subjects for beginner-level courses with a high number of subscribers?

In [87]:
df[(df['level']=='Beginner Level')][['subject','num_subscribers']].max()

subject            Web Development
num_subscribers             161029
dtype: object

In [ ]:
select subject,MAX(num_subscribers) from udemy_courses where level='Beginner Level' group by subject

Which courses offer the longest content duration for free, and which subjects do they belong to?

In [43]:
df[df['is_paid']== False][['subject','content_duration']].max()

subject             Web Development
content_duration               21.0
dtype: object

In [ ]:
select subject,MAX(content_duration) from udemy_courses where is_paid = 'False' group by subject

What are the average course prices for beginner, intermediate, and expert-level courses in each subject?

In [91]:
df.groupby(['subject','level'])['price'].mean()

subject              level
Business Finance     All Levels             75.201149
                     Beginner Level         53.382353
                     Expert Level           95.967742
                     Intermediate Level     66.054688
Graphic Design       All Levels             62.701342
                     Beginner Level         53.477366
                     Expert Level           70.000000
                     Intermediate Level     49.824561
Musical Instruments  All Levels             55.978261
                     Beginner Level         43.378378
                     Expert Level           36.428571
                     Intermediate Level     51.039604
Web Development      All Levels             82.526555
                     Beginner Level         68.363171
                     Expert Level          113.666667
                     Intermediate Level     71.259259
Name: price, dtype: float64

In [ ]:
select subject,level,AVG(price) from udemy_courses group by subject,level

Which courses have the highest number of lectures but are free to access?

In [101]:
df[df['is_paid']== False][['course_title','num_lectures']].max()

course_title    财务分析与估值建模入门
num_lectures            145
dtype: object

In [ ]:
select MAX(num_lectures) from udemy_courses where is_paid = 'False'

Which courses have the best price-to-duration ratio (price per hour of content) for students seeking affordable, high-quality education?

In [108]:
df['PTD']=df['price']/df['content_duration']
df['PTD']=df['PTD'].replace(0,1)

In [110]:
df[df['PTD']==df['PTD'].max()]['course_title']

892    Mutual Funds for Investors in Retirement Accounts
Name: course_title, dtype: object

In [ ]:
select max(price/nullif(content_duration,0)) from udemy_courses

Which subjects have the most highly reviewed intermediate-level courses?

In [60]:
df[df['level']=='Intermediate Level'][['subject','num_reviews']].max()

subject        Web Development
num_reviews               3326
dtype: object

In [ ]:
select subject,max(num_reviews) from udemy_courses where level='Intermediate Level' group by subject

Which paid courses have generated the most revenue based on price and subscriber count, and which subjects do they cover?

In [111]:
df[['price','subject','num_subscribers']].max()

price                          200
subject            Web Development
num_subscribers             268923
dtype: object

In [ ]:
select subject,max(num_subscribers),MAX(price) from udemy_courses group by subject

What is the average price of paid courses across different subjects, and which subjects have the highest pricing potential?

In [114]:
df[df['is_paid']==True].groupby('subject')['price'].mean()

subject
Business Finance       74.540491
Graphic Design         61.390845
Musical Instruments    53.154574
Web Development        86.635426
Name: price, dtype: float64

In [ ]:
select subject,avg(price) from udemy_courses where is_paid='True' group by subject

Which courses published in the last two years have attracted the most subscribers, and what subjects do they cover?

In [68]:
df['year']=pd.to_datetime(df['published_timestamp']).dt.year

In [72]:
df.groupby('year')[['num_subscribers','subject']].max()

      num_subscribers          subject
year
2011            69186  Web Development
2012           101154  Web Development
2013           268923  Web Development
2014           120291  Web Development
2015           121584  Web Development
2016           114512  Web Development
2017            26742  Web Development

In [ ]:
select year(published_timestamp),max(num_subscribers) from udemy_courses group by year(published_timestamp)

How does the number of lectures and content duration influence the price of a course in different subjects?

In [74]:
df.num_lectures.corr(df['price'])

0.33016044816281187

In [ ]:
select CORRELATION(num_lectures,price) from udemy_courses

Which subjects have the highest number of free courses with a high subscriber count, and how do paid courses compare in these subjects?

In [76]:
df[df['is_paid']==False].groupby(df['subject'])['num_subscribers'].max()

subject
Business Finance        65576
Graphic Design          53851
Musical Instruments    101154
Web Development        268923
Name: num_subscribers, dtype: int64

In [77]:
df[df['is_paid']==False].groupby(df['subject'])['num_subscribers'].max().corr(df[df['is_paid']==True].groupby(df['subject'])['num_subscribers'].max())

0.9396089587630461

In [ ]:
select subject,MAX(num_subscribers) from udemy_courses where is_paid='False' group by subject

What is the relationship between the number of reviews and price across different subjects, and how can this data be used to optimize pricing strategies?

In [81]:
df.groupby('subject')['num_reviews'].corr(df['price'])

subject
Business Finance       0.065635
Graphic Design         0.074348
Musical Instruments    0.171079
Web Development        0.131607
Name: num_reviews, dtype: float64

Which subjects have the highest ratio of paid to free courses, and how does this affect the number of subscribers in each subject?

In [85]:
df.groupby('subject')['is_paid'].value_counts()

subject              is_paid
Business Finance     True       1099
                     False        96
Graphic Design       True        568
                     False        35
Musical Instruments  True        634
                     False        46
Web Development      True       1067
                     False       133
Name: count, dtype: int64

In [ ]:
select subject,is_paid,COUNT(is_paid) from udemy_courses group by subject,is_paid

Which factors (price, content duration, subject) are most predictive of high revenue generation for courses, and how can businesses use these insights to design profitable courses?

In [78]:
df

      course_id  ...  year
0       1070968  ...  2017
1       1113822  ...  2017
2       1006314  ...  2016
3       1210588  ...  2017
4       1011058  ...  2016
...         ...  ...   ...
3673     775618  ...  2016
3674    1088178  ...  2017
3675     635248  ...  2015
3676     905096  ...  2016
3677     297602  ...  2014

[3678 rows x 14 columns]